*~
*.so
*.o
a.out
core
segfault
infloop
simple3
simple2
simple4
simple
build/*
myweb/myweb
examples/access.log
examples/syscall
examples/mmf
examples/readwrite
examples/thread-cancel
examples/thread-create
examples/thread-create2
examples/thread-create3
examples/zombie
examples/shma
examples/shmak
examples/shmb
examples/shmfork
examples/epoll
examples/exit3
examples/fifor
examples/fifow
examples/file1
examples/fork
examples/forkexec
examples/forkexec-wait
examples/getenv
examples/pipe
examples/pipedup2
examples/pipedup2-exec
examples/pipedup2-exec2
examples/poll
examples/popen
examples/proc-pid
examples/pshma
examples/select
examples/sigaction
examples/system
examples/thread-detached
examples/thread-self
examples/thread-spec
examples/thread-speclog
examples/2waypipe
examples/3fork
examples/environ
examples/argc

